<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />
    <script src="https://kit.fontawesome.com/1278c8b4cd.js" crossorigin="anonymous"></script>
    {{ghost_head}}
</head>

<body class="h-screen bg-sj-gray">
<div class="container mx-auto">
    <div class="flex flex-row justify-between bg-white py-10 px-4 header-border">
        <div class="blog-title text-xl leading-5 sm:w-3/4">
            <a href="{{@site.url}}">{{@site.title}}</a><br>
            <span class="text-sm italic">
                {{@site.description}}
            </span>
        </div>

        <div class="md:flex md:flex-row gap-4 nav-menu hidden md:block">
            <div><button class="bg-sj-green hover:green-800 text-white font-bold px-4 py-2 rounded-full">HOME</button></div>
            <div>ABOUT</div>
            <div>OPENSUSE</div>
            <div>UBUNTU</div>
            <div>CONFERENCES</div>
            <div>SANSKRIT</div>
        </div>
    </div>

    <div class="flex gap-6">
        <div class="bg-white sm:w-full md:w-3/4 py-10 px-4 mt-6">
            {{{body}}}
        </div>

    <div class="md:flex md:flex-col md:w-1/4 mt-6 hidden md:block">
      <div class="bg-white py-10 px-6 text-4xl sj-green">
        <div class="flex flex-row justify-between">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
        </div>
      </div>
      <div class="bg-white py-10 px-4 mt-6 justify-center">
        <a class="twitter-timeline" data-theme="light" href="https://twitter.com/IshSookun?ref_src=twsrc%5Etfw">Tweets by IshSookun</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
      </div>
    </div>
    </div>
  
  </div>
  
  <div class="w-full mx-auto text-center bg-sj-green text-white py-10">
       
       SYSADMIN JOURNAL is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.<br> DefaultValues theme for Ghost. Site cached by LSL Digital in Mauritius.
    </div>

</body>
</html>
